<div class="card">
    <div class="card-header fw-bold">
      Liste des patients
    </div>
    <div class="div-search border py-2 mt-2 mb-1">
      <div class="row">
        <div class="col-3"> 
         <form [formGroup]="searchFormGroup"> 
          <div class="input-group input-size ms-2">
            <input type="text" class="form-control" placeholder="Recherche" formControlName="name" aria-describedby="button-addon2">
            <button class="btn btn-primary" [disabled]="searchFormGroup.invalid"  type="submit" (click)="handleSearchProducts()" id="button-addon2"><i class="bi bi-search"></i></button>
          </div>
        </form>  
        </div>
        <div class="d-flex justify-content-end col-4 offset-md-5">
          <button class="btn btn-primary me-2" type="button" (click)="newPatient()"><i class="bi bi-person-plus-fill"></i>Ajouter un patient</button>
        </div>
      </div>
    </div>
    <div class="card-body">
      <div class="table-responsive-lg">
        <table class="table table-hover">
          <thead class="table-bordered bg-primary text-light">
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Age</th>
              <th>Sexe</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Date</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let patient of patients">
              <td>{{patient.lastName}}</td>
              <td>{{patient.firstName}}</td>
              <td>{{patient.age}}</td>
              <td>{{patient.sex}}</td>
              <td>{{patient.mobile}}</td>
              <td>{{patient.email}}</td>
              <td>{{patient.createdAt | date:"dd/MM/yyy" }}</td>
              <td>
                <button class="btn btn-primary me-2" (click)="editPatient(patient._id)"><i class="bi bi-pencil-square"></i></button>
                <button class="btn btn-danger" (click)="deletePatient(patient._id)"><i class="bi bi-trash"></i></button>
              </td>
            </tr>
          </tbody>
        </table>
        <ul class="nav nav-pills" *ngIf="this.totalPages">
          <li *ngFor="let item of [].constructor(this.totalPages); let i= index">
            <a (click)="gotoPage(i+1)" [ngClass]="i+1 === currentPage?'btn-primary':'btn-outline-primary'" class="btn  ms-1 mt-1">{{i+1}}</a> 
          </li>
        </ul>
      </div>
    </div>
  </div>