<div class="card">
    <div class="card-header">
      Featured
    </div>
    <div class="div-search border p-4 mt-2 mb-1"></div>
    <div class="card-body">
      <div class="table-responsive-lg">
        <table class="table table-hover">
          <thead class="table-bordered bg-primary text-light">
            <tr>
              <th>Nom</th>
              <th>Prenom</th>
              <th>Age</th>
              <th>Sexe</th>
              <th>Mobile</th>
              <th>Email</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>John</td>
              <td>Doe</td>
              <td>13</td>
              <td>Homme</td>
              <td>22893322306</td>
              <td>john@example.com</td>
              <td><button class="btn btn-danger" ><i class="bi bi-trash"></i></button></td>
            </tr>
            <tr>
              <td>Mary</td>
              <td>Moe</td>
              <td>13</td>
              <td>Homme</td>
              <td>22893322306</td>
              <td>john@example.com</td>
              <td><button class="btn btn-danger" ><i class="bi bi-trash"></i></button></td>
            </tr>
            <tr>
              <td>July</td>
              <td>Dooley</td>
              <td>13</td>
              <td>Homme</td>
              <td>22893322306</td>
              <td>john@example.com</td>
              <td><button class="btn btn-danger" ><i class="bi bi-trash"></i></button></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>